
body{
    text-align: center;
}
.navHeader{
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    background: #efefef;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    padding: 20px 60px 0 60px;
}
.navHeader img{
    width: 150px;
    height: 60px;
}
ul{
    margin-top: 20px;
}
li{
    list-style-type: none;
    display: inline;
    padding-left: 20px;
}
 a{
    color: #707070;
    padding: 5px;
    text-decoration: none;
}
nav li a:hover{
    color: #D96D00;
}
.card{
    background: #707070;
    border-radius: 20%;
    color: #EFEFEF;
}
.card:hover{
    background: #D96D00;
    color: white;
}
.card ion-icon{
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px;
}

.shoppingCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
}
h3{
    margin-bottom: 20px;
}
p{
    margin-bottom: 20px;
}
.image{
    width: 100%;
    margin-bottom: 20px;
}
.shoppingCard button {
    border: none;
    padding: 10px;
    background-color:  #EFEFEF;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
.shoppingCard button:hover {
    background:  #D96D00;
    color: #EFEFEF;
    cursor: pointer;
}


footer{
    height: 300px;
    background: #EFEFEF ;
}



